html{
    box-sizing: border-box;
}
*,
::after,
::before{
    box-sizing: inherit;
}
html, body {
    height: 100%;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #151515;
    line-height: 1.3;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:  #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
}

.active{
    color: #0066FF;
}

.tabs__active-btn{
        color: #0066FF;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    
}

.wraper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}

.section__title{
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

/*Header*/

.header{
    background-color: #151515;
}

.header__main{
    background-color: transparent;
    position: absolute;
    z-index: 7;
    left: 0;
    right: 0;
}

.header__inner{
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu__list{
    display: flex;
    gap: 35px;
}

.menu__link{
    text-transform: uppercase;
    transition: all .5s;
}

.menu__link:hover{
    color: #0066FF;
}
/*Main*/

.main{
    flex-grow: 1;
}

/*Top*/

.top{
    color: #fff;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}

.top__title{
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

.top__link{
    background-color: #151515;
    text-transform: uppercase;
    padding: 23px;
    width: 100%;
    max-width: 430px;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
        transition: all .5s;

}

.top__link:hover{
  background-color: #06F;
}

/*Swiper*/

.swiper-slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.swiper-pagination-bullet{
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
    margin: 0 15px !important;
} 
.swiper-pagination-bullet-active{
    height: 6px;
    background-color: #fff;
}

.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom:  50px;

}


/*why-lease*/

.why-lease{
    padding: 150px 0;
    
}

.why-lease__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}

.why-lease__img{
    margin-bottom: 30px;
}

.why-lease__subtitle{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}

.why-lease__text{
    text-align: left;
}





/*lease-work*/

.lease-work{
    padding-bottom: 150px;
}

.lease-work__inner{
    max-width: 600px;
    margin: 0 auto;
}

.lease-work__title{
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
}

.lease-work-list{
    padding: 50px 0 70px;
    counter-reset: myCounter;
    
}

.lease-work__item{
    list-style-type: none;
    width: 270px;
    position: relative;
    margin-left: auto;
    box-sizing: content-box;
    padding: 19px 0 10px 240px;
    min-height: 63px;
}

.lease-work__item + .lease-work__item{
    margin-top: 40px;
}

.lease-work__item::before{
    position: absolute;
    counter-increment: myCounter;
    content: counter(myCounter);
    display: flex;
    font-size: 48px;
    font-weight: 700;
    background-color: #06F;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
}

/*Video*/

.video{
    padding-bottom: 150px;
    display: block;
}

.video__title{
    margin-bottom: 20px;
    text-transform: uppercase;
}

.video__text{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.video__content{
    display: block;
    margin: 0 auto;
}

/*Consider*/

.consider{
    padding-bottom: 150px;
}

.consider__title{
    margin-bottom: 20px;
}

.consider__text{
    margin: 0 auto 50px;
    max-width: 580px;
}

.consider__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    
}


.consider__list-img{
    margin-bottom: 20px;
}

.consider__item-text{
    color: #151515;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    max-width: 270px;
}


/*Contact*/

.contact{
    padding:100px 0 150px;
}

.contact__title{
    margin-bottom: 20px;
}

.contact__subtitle{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 100px;
}

.contact__form{
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__input{
    width: 270px;
    padding: 18px 20px;
    display: inline-block;
    border: 1px solid #06F;
    margin-bottom: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #151515;
    line-height: 1.3;
}

.form__input::placeholder,
.form__textarea::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #151515;
    line-height: 1.3;
    opacity: .5;
}

.form__textarea{
    width: 100%;
    resize: none;
    padding: 28px 20px;
    height: 290px;
    border: 1px solid #06F;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #151515;
    line-height: 1.3;
    margin-bottom: 50px;
}

.form__btn{
    text-transform: uppercase;
    color: #fff;
    background-color: #151515;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    padding: 13px 61px;
    margin: 0 auto;
    transition: all .5s;
        border: none;
}

.form__btn:hover{
    background-color: #06F;
}

/*blog*/

.blog{
    padding-bottom: 150px;
}


.blog__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
        margin-bottom: 70px;
}

.blog__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__img{
    padding-bottom: 30px;
    width: 100%;
}
    
.blog__title{
    flex-basis: 466px;
    color: #151515;
    font-size: 24px;
    font-weight: 700;
}

.blog__link{
    background: #06F;
    padding: 4px 20px;
    font-weight: 400;
    transition: all .5s;
}

.blog__link:hover{
    background-color: #151515;
}

.show__btn{
    display: block;
    text-transform: uppercase;
    padding: 13px;
    width: 225px;
    margin: 0 auto;
    text-align: center;
    background-color: #151515;
    transition: all .5s;
}

.show__btn:hover{
    background-color: #06f;
}

/*Choose*/

.choose{
    padding: 100px 0 150px;
}

.tabs{
    margin-bottom: 70px;
}

.tabs__btn{
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    gap:80px;
    padding-bottom: 100px;
}

.tabs__btn-item{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: 0;
}

.tabs__content-item{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
}

.tabs__content-item.tabs__active-content{
    display: grid;
}

.card{
    text-align: center;
}

.card__img{
    display: block;
}

.card__content{
    border: 1px solid #06F;
    border-top: 0;
}
.card__title{
    padding-top: 20px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card__text{
    margin-bottom: 20px;
}

.card__price{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;

}

.card__link{
    display: block;
    color: #06F;
    border: 1px solid #06F;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    transition: all .5s;
    padding: 2px;

}

.card__link:hover{
    background: #06F;
    color: #fff;
}














/*Footer*/

.footer{
    background-color: #151515;
    padding: 50px 0 32px;
    color: #fff;
}

.footer__menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__list{
    max-width: 250px;
}

.footer__title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 20px;
}

.footer__link{
    font-size: 16px;
    font-weight: 400;
}

.footer__item + .footer__item{
    padding-top: 20px;
}

.app{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.foooter__copy{
    font-size: 12px;
    max-width: 800px;
    margin: 0 auto 30px;
    text-align: center;
}

.copynav__list{
    display: flex;
    justify-content: center;
    gap:40px;
}

.copynav__link{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}